.searchbox-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.search-one {
    border-radius: 9px;
    border-width: 1px;
    border-color: slategray;
    width: 400px;
    height: 30px;
    outline: none;
    text-indent: 8px;
}

.submit-one {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 34px;
    margin-left: -50px;
    background-color: #4286f4;
    color: white;
    font-size: 13px;
    font-family: Helvetica, Arial, san-serif;
    border: none;
    outline: none;
}

::-webkit-input-placeholder { 
    /*padding-left: 4px;*/
    font-size: 14px;
}

::-moz-placeholder { 
    /*padding-left: 4px;*/
    font-size: 14px;
} /* firefox 19+ */

:-ms-input-placeholder { 
    /*padding-left: 4px;*/
    font-size: 14px; 
} /* ie */

input:-moz-placeholder { 
    /*padding-left: 4px;*/
    font-size: 14px; 
}