.searchbox-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.search-one {
    border-radius: 9px;
    border-width: 1px;
    border-color: slategray;
    width: 400px;
    height: 30px;
    outline: none;
    text-indent: 8px;
}

.submit-one {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 34px;
    margin-left: -50px;
    background-color: #4286f4;
    color: white;
    font-size: 13px;
    font-family: Helvetica, Arial, san-serif;
    border: none;
    outline: none;
}

.searchbox-two {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search-two {
    width: 350px;
    height: 30px;
    outline: none;
    border-color: slategray;
    border-right: none;
    border-width: 1px;
    text-indent: 8px;
}

.submit-two {
    outline: none;
    background-color: #5ac476;
    color: white;
    border-width: 1px;
    font-size: 13px;
    border: none;
}

.searchbox-three {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search-three {
    width: 400px;
    height: 30px;
    border-width: 1px;
    border-color: slategray;
    text-indent: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.fa {
    display: flex;
    /*border: 1px solid black;*/
    margin-left: -38px;
    color: #4286f4;
}

::-webkit-input-placeholder { 
    /*padding-left: 4px;*/
    font-size: 14px;
}

::-moz-placeholder { 
    /*padding-left: 4px;*/
    font-size: 14px;
} /* firefox 19+ */

:-ms-input-placeholder { 
    /*padding-left: 4px;*/
    font-size: 14px; 
} /* ie */

input:-moz-placeholder { 
    /*padding-left: 4px;*/
    font-size: 14px; 
}